<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triangles information</title>
  <link rel="stylesheet" href="css/foundation.css">
</head>
<body>
<div class="callout large primary">
  <div class="row column text-center">
    <h1>Triangles</h1>
    <h2 class="subheader">Just storing a few triangles</h2>
  </div>
</div>
<div class="grid-container">
  <%= yield %>
</div>

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
</body>
</html>
