<div class="grid-container">
  <div class="grid-x grid-margin-x">

    <div class="cell medium-10">
      <h2>Ruby Practise <small> 15.11.2020 </small></h2>
      <h4>Task:</h4>
      <p>Create a web application that allows the user to make a list of triangles. The list of triangles can be filtered by area value in the range from minimum to maximum.

        The application should allow the user to add new triangles. They should be added to the list of triangles from these sides only.
      </p>
      <div class="callout">
        <ul class="menu simple">
          <li>Developer: Anna Tselikova</li>
        </ul>
      </div>
    </div>
  </div>
</div>
