<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>List of books read</h3>
  </div>

  <div class="large-12 cell">
      <table>
        <thead>
        <tr>
          <th>Read Date</th>
          <th>Author "Title"</th>
        </tr>
        </thead>
        <tbody>
        <% @filtered_books.each do |book| %>
          <tr>
            <td><%= book.date %></td>
            <td><%= book.author + ' «' + book.name + '»' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
</div>