<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Diary</title>
  <link rel="stylesheet" href="/css/foundation.css">
</head>
<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Menu</li>
      <li><a href="main">Description</a></li>
      <li><a href="books">List of books</a></li>
      <li><a href="filter">Statistics</a></li>
      <li><a href="new">Add new book</a></li>
    </ul>
  </div>
</div>

<div class="callout large primary">
  <div class="row column text-center">
    <h1>Books</h1>
    <h2 class="subheader">Your reading diary</h2>
  </div>
</div>
<div class="grid-container">
  <%= yield %>
</div>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
</body>
</html>