<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-10">
      <div class="callout">
        <ul class="menu simple">
          <li>Anna Tselikova</li>
        </ul>
      </div>
      <h3>Reading Diary <small> 18.11.2020 </small></h3>
      <p></p>
      <h4>Task:</h4>
      <p>Write a web application that simulates the work of the reader's diary.</p>
      <p>The application should perform the following functions:</p>
      <ol>
        <li>
          <p>Display a list of all the books you have read.</p>
          <p>The list of all read books should be ordered by the date of reading and displayed in a table with columns:</p>
          <ul>
            <li>Date</li>
            <li>Author "Name of the book"</li>
          </ul>
          <p></p>
        </li>
        <li>
          <p>Adding a new reading record to the book.</p>.
          <p>User fills in the book information form:</p>.
          <ul>
            <li>The author of the work</li>
            <li>Title of work</li>
            <li>Reading date.</li>.
          </ul>
          <p></p>
          <p>Fill in all fields, the user clicks the "Save" button.
            Before saving, the application should check if the data entered are correct:</p>.
          <ul>
            <li>Author and title fields are not empty;</li>.
            <li>The date of reading is written in the format YYYY-MM-DD and is
              existing date (12 months in a year, 31 days in a month).
          </ul>
          <p></p>
          <p>If the data entered is not correct, the application should display a message to the user,
            specifying which fields are filled in incorrectly and which error was made.
            The data entered by the user should not be lost.</p>
          <p>If the data is correct, the application should save the read record and
            display a list of all books read. </p>
        </li>
        <li>
          <p>Display reading statistics for the year.</p>
          <p>The application displays a list of years for which there is information about books read.
          <p>After you select a reporting year, the app displays information for the entire year,
            grouped by months. For each month, the output is:</p>.
          <ul>
            <li>Number of books read.</li>.
          </ul>
          <p></p>
        </li>
      </ol>
    </div>
  </div>
</div>
